html, body {
    margin: 0;
    padding: 0;
    background: black;

    font-family: sans-serif;
    font-size: 10px;
    font-weight: normal;
}

.layout {
    display: flex;
    max-width: 100%;
    padding: 5rem;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.layout__controls {
    flex: 0 0 200px;
    margin-right: 5rem;
}
.layout__content {
    flex: 1 1 auto;
    overflow: auto;
}
label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
}
input {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1.5rem 1rem;
    box-sizing: border-box;

    border: 0;
    border-radius: 7px;
    background: white;
    outline: none;

    box-shadow: none;
    transition: all 0.4s;
}
input:focus {
    box-shadow: 0 0 10px #b3dde4;
}
canvas {
    width: 1200px;
    height: 1200px;
    vertical-align: top;
}
